<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>513905808058-38pl6vi51u9h052hlro7pd9bhgda2mu8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.513905808058-38pl6vi51u9h052hlro7pd9bhgda2mu8</string>
	<key>API_KEY</key>
	<string>AIzaSyDTFKnIGpVcb4WDmfWR7GWhbYZASWdMM1E</string>
	<key>GCM_SENDER_ID</key>
	<string>513905808058</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramClone.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>instagram-flutter-clone-95c70</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-flutter-clone-95c70.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:513905808058:ios:d6450d47fe71bf8b1f6883</string>
</dict>
</plist>